body {
  margin: 0;
  font-family: Arial;
  background: #0f1117;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CHAT BOX */
.chat-container {
  width: 400px;
  background: #1a1d27;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  height: 400px;
}

/* MESSAGES */
.msg {
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  clear: both;
}

.user {
  background: #2563eb;
  color: white;
  float: right;
}

.bot {
  background: #2a2f45;
  color: white;
  float: left;
}

/* INPUT */
.input-area {
  display: flex;
  padding: 10px;
  background: #21253a;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}